

.logo{
  color:white;
  margin-left: 4%;
}
/*.container{
    margin-left:20%;
    padding: 0px 10px;
}*/


.navBar {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #24262e;
    overflow-x: hidden;
    padding-top: 20px;
    border-right-style: ridge;
    border-color: #828898;
    border-width: 2px;
  }
  .navBar p{
    margin-left: 6%;

  }
  .navBar a {
    padding: 10px 8px 6px 16px;
    text-decoration: none;
    font-size: 21px;
    color: #828898;
    display: block;
  }

  
  .navBar a:hover{
    color: #f1f1f1;
    background-color: #181b20;
    border-left: 6px solid #1275bf;
  }
.navBar .active {
    margin-left: 0%;
    color: #f1f1f1;
    background-color: #181b20;
    border-left: 6px solid #1275bf;
}


  @media screen and (max-height: 900px) {
    .navBar {width: 15%;}
    .navBar a {font-size: 18px;}
    .container {margin-right: 4%;}
  }

  .inv-table{
      min-width: 900px;
  }

  @media screen and (max-height: 900px) {
    .inv-table {min-width: 725px;}
    
  }
  @media screen and (max-height: 800px) {
    .navBar {width: 15%;}
    .navBar a {font-size: 18px;}
    .container {max-width:80%;}
  }
  .ordinal{
      max-width:45px !important;
      min-width:45px !important;
  }
  .ordinal-btn{
    max-width:90px !important;
    min-width:90px !important;
  }

.serial{
  max-width:240px !important;
  min-width:240px !important;
}

  .calculation{
    margin-left: 50px;
    font-size: 18px;
    color: #6c757d;
    text-align: right;
    line-height: 35px;
  }

  .calculation-num{
    max-width: 90px;
    font-size: 18px;
    text-align: right;
    line-height: 35px;
  }

  
  .calculation-valute{
    max-width: 90px;
    font-size: 15px;
    text-align: right;
    line-height: 35px;
    color: #6c757d;
  }

p{
  margin-right:10px;
}

hr.line-border{
  margin:auto -20px 15px 120px;
  border: 0.01em solid  #6c757d;
}

.tcalculation{
  margin-left: 237px;
  font-size: 25px;
  color: #6c757d;
  text-align: right;
  line-height: 35px;
}

.tcalculation-num{
  max-width: 90px;
  font-size: 25px;
  text-align: right;
  line-height: 35px;
}


.tcalculation-valute{
  max-width: 90px;
  font-size: 20px;
  text-align: right;
  line-height: 35px;
  color: #6c757d;
}
  
.invoiceInfo{
  font-size: 16px;
  text-align: left;
  line-height: 35px;
  color: #6c757d;
}

.cuctomerInfo{
  line-height: 13px;
}

.customerContact{
 line-height: 23px;
}

.modalInv{
  width: 80%;
  max-width: 1000px;
  margin: 4rem auto;
  background-color: #fff;
}

.invTable{
  margin-left:2%;
  max-width: 92%;
}

.calInv{
  max-width: 75px;
}





 